
<ul>
	<ul class="tag_list">
		{% for tag in title %}
			<li class="tag"><strong>{{ tag }}</strong></div>
			<span style="display:none">title</span></li>
		{% endfor %}
	</ul>
	<ul class="tag_list">
		{% for tag in season %}
			<li class="tag"><strong>{{ tag }}</strong></div>
			<span style="display:none">season</span></li>
		{% endfor %}
	</ul>
	<ul class="tag_list">
		{% for tag in geography %}
			<li class="tag"><strong>{{ tag }}</strong></div>
			<span style="display:none">geography</span></li>
		{% endfor %}
	</ul>
</ul>

